:root {
    /* colors */
    --color-header: rgb(179, 179, 179);
    --color-header-logo-text: rgb(112, 111, 111);
    --color-body: rgb(226, 225, 225);
    --color-white: rgb(255, 255, 255);
    --color-gray: rgb(182, 180, 180);
    --color-info-default: rgb(33, 101, 255);
    --color-error-default: rgb(185, 6, 0);

    /* sizes */
    --header-height: 100px;
    --panel-width-left: 400px;
    --panel-width-right: calc(100% - var(--panel-width-left) - var(--padding-default));

    /* padding */
    --padding-default: 15px;
    --padding-form-control: 5px;

    /* margin */
    --margin-default: 10px;
    --margin-small: 2px;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

html {
    height: 100%;
}

h3 {
    color: #0778db;
}

@media screen and (max-width: 480px) {
    h3 {
        margin: 0;
    }
}

.body {
    background: var(--color-body);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    min-width: 320px;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2NkQAJv3779zwjjgzjCwsKMYAEYB8RmROaABAASGg/L/AgaTwAAAABJRU5ErkJggg==) repeat;
}

.header {
    height: var(--header-height);
    justify-content: left;
    padding: var(--padding-default);
    position: relative;
    border-bottom: solid 1px #b1b1b1;
    background: #242424;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.23);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.23);
}

.header-logo::after {
    color: #b7b7b7;
    content: 'Medienkatalog';
    display: inline-block;
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: -7px;
    transform: translateY(-19px);
}

@media screen and (max-width: 480px) {
    .header-logo::after {
        font-size: 17px;
        display: block;
        margin: 5px 0 0;
    }
}

.header-logo__img {
    max-width: 200px;
    transform: translateX(-10px);
    filter: invert(.9) drop-shadow(3px 3px 2px #666);
}

@media screen and (max-width: 480px) {
    .header-logo__img {
        max-width: 130px;
        margin-left: 4px;
    }
}

.main {
    height: 100%;
    padding: var(--padding-default);
}

.search-form {
    min-height: 100%;
    position: relative;
    border: solid 1px #b1b1b1;
    margin: 15px 0;
    background: #eee;
    padding: 15px;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.23);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.23);
}

.search-form__form-control {
    display: inline-block;
    margin-bottom: var(--margin-default);
    position: relative;
    width: 100%;
}

.search-form__form-control:last-of-type {
    width: auto;
    margin-bottom: 0;
}

.search-form__label {
    font-size: 13px;
    display: block;
    margin-bottom: var(--margin-small);
}

.search-form__term,
.search-form__media,
.search-form__entity,
.search-form__limit {
    border: solid 1px #b7b7b7;
    outline: none;
}

.search-form__term:focus,
.search-form__media:focus,
.search-form__entity:focus,
.search-form__limit:focus {
    border: solid 1px #7fa1bf;
}

.search-form__term {
    font-size: 15px;
    padding: var(--padding-form-control);
    width: 100%;
}

.search-form__media {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-white);
    font-size: 15px;
    padding: var(--padding-form-control);
    width: 100%;
}

.search-form__entity {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-white);
    font-size: 15px;
    padding: var(--padding-form-control);
    width: 100%;
}

.search-form__select::after {
    content: '\f078';
    color: var(--color-gray);
    font: normal normal normal 17px/1 'FontAwesome';
    height: 34px;
    right: 11px;
    top: 12px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}

.search-form__limit {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-white);
    font-size: 15px;
    padding: var(--padding-form-control);
    width: 60px;
}

.search-form__btn-submit {
    bottom: var(--padding-default);
    float: right;
    font-size: 15px;
    padding: var(--padding-form-control);
    position: absolute;
    right: var(--padding-default);
    width: 87px;
    background: #0778db;
    color: white;
    border: solid 1px black;
    outline: none;
}

.panel--left {
    width: 100%;
}

.panel--right {
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}

.search-results {
    min-height: 500px;
}

.search-results__header {
    border: solid 1px #b1b1b1;
    margin: 15px 0;
    background: #eee;
    padding: 15px;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.23);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.23);
    animation: fadeIn ease-in-out 200ms;
}

.search-results__info-text {
    color: var(--color-info-default);
    display: none;
}

.search-results__error-text {
    color: var(--color-error-default);
    display: none;
}

.search-results-outlet {
    padding: 0;
    list-style: none;
}

.search-result {
    border: solid 1px #b1b1b1;
    margin: 15px 0;
    background: white;
    padding: 15px;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.23);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.23);
    animation: fadeIn ease-in-out 200ms;
}

.search-result__audio-preview {
    outline: none;
    width: 280px;
    height: 40px;
}

@media screen and (max-width: 480px) {
    .search-result__audio-preview {
        width: 150px;
    }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
    .search-result__audio-preview {
        max-width: 220px;
    }
}

.search-result__artist-url {
    color: #000; 
    text-decoration: none;
}

.search-result__artist::before {
    content: 'Band / Interpret:';
    font-size: 10px;
    color: #0778db;
    padding-right: 5px;
    font-weight: 100;
    display: block;
}

.search-result__artist-url:hover {
    color: #000000; 
}

.search-result__artist {
    width: calc(50% - 7.5px);
    display: inline-block;
    min-height: 70px;
}

.search-result__artwork-url {
    display: inline-block;
    width: calc(50% - 7.5px);
    min-height: 70px;
}

.search-result__collection-url {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.search-result__collection-url:hover {
    color: #222;
}

.search-result__track-name {
    display: inline-block;
    width: calc(50% - 7.5px);
    min-height: 0;
    padding-top: 20px;
    margin-top: -45px;
}

.search-result__track-url {
    color: #0074da; 
    text-decoration: none;
    transform: translateY(-10px);
    display: block;
}

.search-result__track-url:hover {
    color: #0056a1; 
}

.search-result__collection-name {
    width: calc(50% - 7.5px);
    display: inline-block;
    min-height: 0;
    padding-top: 20px;
    text-align: right;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

.search-result__collection-name::before {
    content: 'Album:';
    font-size: 10px;
    color: #0778db;
    padding-right: 5px;
}

.search-result__collection-name--left {
    width: calc(50% - 7.5px);
    display: inline-block;
    min-height: 0;
    margin-top: -55px;
    text-align: left;
    font-size: inherit;
}

.search-result__collection-name--left::before {
    content: 'Album:';
    font-size: 10px;
    color: #0778db;
    padding-right: 5px;
    display: block;
}

.search-result__artwork-img {
    width: 100px;
    min-height: 100px;
    display: block;
    border: solid 1px #d2d2d2;
    float: right;
}

@media screen and (min-width: 961px) {
    .panel--left {
        float: left;
        width: var(--panel-width-left);
    }
    
    .panel--right {
        float: right;
        width: var(--panel-width-right);
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.loading-animation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(83 83 83 / 50%);
    display: none;
    background: rgba(255, 255, 255, .5);
    animation: fadeIn ease 200ms;
}

.loading-animation__img {
    width: 80px;
}

@media screen and (min-width: 961px) {
    .loading-animation__img {
        width: 70px;
    }
}

.loading-animation::after {
    content: 'Ergebnisse werden geladen';
    font-weight: 100;
    position: absolute;
    margin-top: calc(120px);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
