:root {
    /* colors */
    --color-royal-blue: rgb(68, 129, 235);
    --color-glacier: rgb(127, 161, 191);
    --color-black: rgb(0, 0, 0);
    --color-nero: rgb(36, 36, 36);
    --color-dim-gray: rgb(111, 111, 111);
    --color-gray-alpha: rgb(255, 255, 255, .5);
    --color-silver: rgb(182, 182, 182);
    --color-gainsboro: rgb(225, 225, 225);
    --color-white-smoke: rgb(238, 238, 238);
    --color-white: rgb(255, 255, 255);

    /* element colors */
    --color-body-bg: var(--color-gainsboro);
    --color-header-bg: var(--color-nero);
    --color-header-border: var(--color-silver);
    --color-header-logo-filter: var(--color-silver);
    --color-header-logo-text: var(--color-dim-gray);
    --color-box-shadow: var(--color-silver);
    --color-box-border: var(--color-silver);
    --color-form-bg: var(--color-white-smoke);
    --color-form-control-border: var(--color-glacier);
    --color-results-header-bg: var(--color-white-smoke);
    --color-results-info: var(--color-nero);
    --color-results-label: var(--color-royal-blue);
    --color-results-artwork-border: var(--color-body);
    --color-font-default: var(--color-nero);
    --color-font-light: var(--color-nero);
    --color-loading-animation: var(--color-gray-alpha);
    --color-url-hover: var(--color-black);
    --color-result-track-url: var(--color-nero);
    --color-result-track-url-hover: var(--color-blacka);

    /* sizes */
    --header-height: 100px;
    --panel-width-left: 400px;
    --panel-width-right: calc(100% - var(--panel-width-left) - var(--padding-default));

    /* padding */
    --padding-default: 15px;
    --padding-form-control: 5px;

    /* margin */
    --margin-default: 10px;
    --margin-small: 2px;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

html {
    height: 100%;
}

h3 {
    color: var(--color-royal-blue);
}

@media screen and (max-width: 480px) {
    h3 {
        margin: 0;
    }
}

.body {
    background: var(--color-body);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    min-width: 320px;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2NkQAJv3779zwjjgzjCwsKMYAEYB8RmROaABAASGg/L/AgaTwAAAABJRU5ErkJggg==) repeat;
}

.header {
    -webkit-box-shadow: 1px 1px 5px 0px var(--color-box-shadow);
    -moz-box-shadow: 1px 1px 5px 0px var(--color-box-shadow);
    box-shadow: 1px 1px 5px 0px var(--color-box-shadow);
    height: var(--header-height);
    justify-content: left;
    padding: var(--padding-default);
    position: relative;
    border-bottom: solid 1px var(--color-header-border);
    background: var(--color-header-bg);
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.header-logo::after {
    color: var(--color-silver);
    content: 'Medienkatalog';
    display: inline-block;
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: -7px;
    transform: translateY(-19px);
}

@media screen and (max-width: 480px) {
    .header-logo::after {
        font-size: 17px;
        display: block;
        margin: 5px 0 0;
    }
}

.header-logo__img {
    max-width: 200px;
    transform: translateX(-10px);
    filter: invert(.9) drop-shadow(3px 3px 2px var(--color-dim-gray));
}

@media screen and (max-width: 480px) {
    .header-logo__img {
        max-width: 130px;
        margin-left: 4px;
    }
}

.main {
    height: 100%;
    padding: var(--padding-default);
}

.search-form {
    -webkit-box-shadow: 1px 1px 5px 0px var(--color-box-shadow);
    -moz-box-shadow: 1px 1px 5px 0px var(--color-box-shadow);
    box-shadow: 1px 1px 5px 0px var(--color-box-shadow);
    min-height: 100%;
    position: relative;
    border: solid 1px var(--color-box-border);
    margin: 15px 0;
    background: var(--color-form-bg);
    padding: 15px;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 4px;
}

.search-form__form-control {
    display: inline-block;
    margin-bottom: var(--margin-default);
    position: relative;
    width: 100%;
}

.search-form__form-control:last-of-type {
    width: auto;
    margin-bottom: 0;
}

.search-form__label {
    font-size: 13px;
    display: block;
    margin-bottom: var(--margin-small);
}

.search-form__term,
.search-form__media,
.search-form__entity,
.search-form__limit {
    border: solid 1px var(--color-box-border);
    outline: none;
}

.search-form__term:focus,
.search-form__media:focus,
.search-form__entity:focus,
.search-form__limit:focus {
    border: solid 1px var(--color-form-control-border);
}

.search-form__term {
    font-size: 15px;
    padding: var(--padding-form-control);
    width: 100%;
}

.search-form__media {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-white);
    font-size: 15px;
    padding: var(--padding-form-control);
    width: 100%;
}

.search-form__entity {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-white);
    font-size: 15px;
    padding: var(--padding-form-control);
    width: 100%;
}

.search-form__select::after {
    content: '\f078';
    color: var(--color-silver);
    font: normal normal normal 17px/1 'FontAwesome';
    height: 34px;
    right: 11px;
    top: 12px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}

.search-form__limit {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--color-white);
    font-size: 15px;
    padding: var(--padding-form-control);
    width: 65px;
}

.search-form__btn-submit {
    bottom: var(--padding-default);
    float: right;
    font-size: 15px;
    padding: var(--padding-form-control);
    position: absolute;
    right: var(--padding-default);
    width: 87px;
    background: var(--color-royal-blue);
    color: var(--color-white);
    border: solid 1px black;
    outline: none;
}

.panel--left {
    width: 100%;
}

.panel--right {
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}

.search-results {
    min-height: 500px;
}

.search-results__header {
    -webkit-box-shadow: 1px 1px 5px 0px var(--color-box-shadow);
    -moz-box-shadow: 1px 1px 5px 0px var(--color-box-shadow);
    box-shadow: 1px 1px 5px 0px var(--color-box-shadow);
    border: solid 1px var(--color-box-border);
    margin: 15px 0;
    background: var(--color-results-header-bg);
    padding: 15px;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 4px;
    animation: fadeIn ease-in-out 200ms;
}

.search-results__info-text {
    color: var(--color-results-info);
}

.search-results__error-text {
    color: var(--color-font-default);
}

.search-results-outlet {
    padding: 0;
    list-style: none;
}

.search-result {
    -webkit-box-shadow: 1px 1px 5px 0px var(--color-box-shadow);
    -moz-box-shadow: 1px 1px 5px 0px var(--color-box-shadow);
    box-shadow: 1px 1px 5px 0px var(--color-box-shadow);
    border: solid 1px var(--color-box-border);
    margin: 15px 0;
    background: var(--color-white);
    padding: 15px;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 4px;
    animation: fadeIn ease-in-out 200ms;
}

.search-result__audio-preview {
    outline: none;
    width: 280px;
    height: 40px;
}

@media screen and (max-width: 480px) {
    .search-result__audio-preview {
        width: 150px;
    }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
    .search-result__audio-preview {
        max-width: 220px;
    }
}

.search-result__artist-url {
    color: var(--color-black); 
    text-decoration: none;
}

.search-result__artist::before {
    content: 'Band / Interpret:';
    font-size: 10px;
    color: var(--color-results-label);
    padding-right: 5px;
    font-weight: 100;
    display: block;
}

.search-result__artist-url:hover {
    color: var(--color-black); 
}

.search-result__artist {
    width: calc(50% - 7.5px);
    display: inline-block;
    min-height: 70px;
}

.search-result__artwork-url {
    display: inline-block;
    width: calc(50% - 7.5px);
    min-height: 70px;
}

.search-result__collection-url {
    display: inline-block;
    text-decoration: none;
    color: var(--color-black);
}

.search-result__collection-url:hover {
    color: var(--color-url-hover);
}

.search-result__release-date {
    display: inline-block;
    font-size: 10px;
    display: block;
    color: #494949;
}

.search-result__release-date::before {
    content: 'veröffentlicht: ';
}

.search-result__track-name {
    display: inline-block;
    width: calc(50% - 7.5px);
    min-height: 0;
    margin-top: -45px;
}

.search-result__track-url {
    color: var(--color-result-track-url); 
    text-decoration: none;
    transform: translateY(-10px);
    display: block;
}

.search-result__track-url:hover {
    color: var(--color-result-track-url-hover);  
}

.search-result__collection-name {
    width: calc(50% - 7.5px);
    display: inline-block;
    min-height: 0;
    padding-top: 10px;
    text-align: right;
    font-size: 12px;
    text-decoration: none;
    color: var(--color-black);
}

.search-result__collection-name::before {
    content: 'Album:';
    font-size: 10px;
    color: var(--color-results-label);
    padding-right: 5px;
}

.search-result__collection-name--left {
    width: calc(50% - 7.5px);
    display: inline-block;
    min-height: 0;
    margin-top: -55px;
    text-align: left;
    font-size: inherit;
}

.search-result__collection-name--left::before {
    content: 'Album:';
    font-size: 10px;
    color: var(--color-results-label);
    padding-right: 5px;
    display: block;
}

.search-result__ext-links {
    display: inline-block;
    width: calc(100%);
    min-height: 0;
}

.search-result__yt-link {
    filter: grayscale(1) opacity(0.6);
    width: 80px;
}

@media screen and (max-width: 480px) {
    .search-result__yt-link {
        filter: grayscale(0) opacity(0.6);
    }
}

.search-result__yt-link:hover {
    filter: grayscale(0) opacity(0.6);
}

.search-result__artwork-img {
    width: 100px;
    min-height: 100px;
    display: block;
    border: solid 1px var(--color-results-artwork-border);
    float: right;
}

@media screen and (min-width: 961px) {
    .panel--left {
        float: left;
        width: var(--panel-width-left);
    }
    
    .panel--right {
        float: right;
        width: var(--panel-width-right);
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.loading-animation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--color-loading-animation);
    animation: fadeIn ease 200ms;
}

.loading-animation__img {
    width: 80px;
}

@media screen and (min-width: 961px) {
    .loading-animation__img {
        width: 70px;
    }
}

.loading-animation::after {
    content: 'Ergebnisse werden geladen';
    font-weight: 100;
    position: absolute;
    margin-top: calc(120px);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.search-results__youtube-link {
    display: block;
    margin-top: 10px;
}