<div class="search-result">
    <span class="search-result__artist">{{ artist }}</span>
    <span class="search-result__artwork-url">
        <img src="{{ artwork }}" alt="" class="search-result__artwork-img">
    </span>
    <span class="search-result__track-name">{{ track }}</span>
    <span class="search-result__collection-name">{{ collection }}</span>
</div>