<p class="search-results__error-text" id="emptyResultSet">
    Leider wurden keine Ergebnisse gefunden. Vielleicht hast du bei Youtube mehr Glück.
    <a class="search-results__youtube-link" id="ytLinkGlobal" target="_blank" href="https://www.youtube.com/results?search_query={{ searchTerm }}">
        <img src="assets/logo-youtube.jpg" alt="YouTube Logo">                      
    </a>
</p>