<li class="search-result">
    <span class="search-result__artist">
        <a translate="no" class="search-result__artist-url" target="_blank" href="{{ artistUrl }}">{{ artist }}</a>
    </span>
    <span class="search-result__artwork-url">
        <img src="{{ artwork }}" alt="" class="search-result__artwork-img">
    </span>
    <span class="search-result__collection-name search-result__collection-name--left">
        <a translate="no" class="search-result__collection-url" target="_blank" href="{{ collectionViewUrl }}">{{ collection }}</a>
        <span class="search-result__release-date search-result__release-date--album">{{ releaseDate }}</span>
    </span>
</li>