@import 'partials/mixins';
@import 'partials/colors';
@import 'partials/search-form';

$page-background-url: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2NkQAJv3779zwjjgzjCwsKMYAEYB8RmROaABAASGg/L/AgaTwAAAABJRU5ErkJggg==';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

h3 {
  color: var(--color-royal-blue);

  @media screen and (max-width: 480px) {
    margin: 0;
  }
}

.body {
  background: var(--color-body) url($page-background-url) repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  min-width: 320px;
}

.header {
  -moz-box-shadow: 1px 1px 5px 0 var(--color-box-shadow);
  -webkit-box-shadow: 1px 1px 5px 0 var(--color-box-shadow);
  align-content: space-between;
  background: var(--color-header-bg);
  border-bottom: solid 1px var(--color-header-border);
  border-collapse: collapse;
  box-shadow: 1px 1px 5px 0 var(--color-box-shadow);
  display: flex;
  flex-wrap: wrap;
  height: var(--header-height);
  justify-content: left;
  padding: var(--padding-default);
  position: relative;
}

.header-logo {
  &::after {
    color: var(--color-silver);
    content: 'Medienkatalog';
    display: inline-block;
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: -7px;
    transform: translateY(-19px);
  }

  @media screen and (max-width: 480px) {
    display: block;
    font-size: 17px;
    margin: 5px 0 0;
  }

  &__img {
    filter: invert(0.9) drop-shadow(3px 3px 2px var(--color-dim-gray));
    max-width: 200px;
    transform: translateX(-10px);

    @media screen and (max-width: 480px) {
      margin-left: 4px;
      max-width: 130px;
    }
  }
}

.main {
  height: 100%;
  padding: var(--padding-default);
}

.panel {
  &--left {
    width: 100%;

    @media screen and (min-width: 961px) {
      float: left;
      width: var(--panel-width-left);
    }
  }

  &--right {
    min-height: 100%;
    overflow: hidden;
    width: 100%;

    @media screen and (min-width: 961px) {
      float: right;
      width: var(--panel-width-right);
    }
  }
}

.search-result {
  -moz-box-shadow: 1px 1px 5px 0 var(--color-box-shadow);
  -webkit-box-shadow: 1px 1px 5px 0 var(--color-box-shadow);
  align-content: space-between;
  animation: fadeIn ease-in-out 200ms;
  background: var(--color-white);
  border: solid 1px var(--color-box-border);
  border-collapse: collapse;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0 var(--color-box-shadow);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
  padding: 15px;

  &__audio-preview {
    height: 40px;
    outline: none;
    transform: translateY(-4px);
    width: 280px;

    @media screen and (max-width: 480px) {
      width: 150px;
    }

    @media screen and (min-width: 481px) and (max-width: 960px) {
      max-width: 220px;
    }
  }

  &__artist-url {
    color: var(--color-black);
    font-size: 12px;
    text-decoration: none;

    &:hover {
      color: var(--color-black);
    }
  }

  &__artist {
    display: inline-block;
    line-height: 1;
    min-height: 70px;
    width: calc(50% - 7.5px);

    @media screen and (min-width: 961px) {
      width: 70px;
    }
  }

  &__artwork-url {
    display: inline-block;
    min-height: 70px;
    width: calc(50% - 7.5px);
  }

  &__collection-url {
    color: var(--color-black);
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: var(--color-url-hover);
    }
  }

  &__release-date {
    color: var(--color-dim-gray);
    display: inline-block;
    font-size: 10px;
    transform: translateY(-10px);

    &::before {
      content: 'veröffentlicht: ';
    }

    &--album {
      display: block;
      transform: none;
    }
  }

  &__track-name {
    display: inline-block;
    margin-top: -45px;
    min-height: 0;
    width: calc(50% - 7.5px);
  }

  &__track-url {
    color: var(--color-result-track-url);
    display: block;
    text-decoration: none;
    transform: translateY(-10px);

    &:hover {
      color: var(--color-result-track-url-hover);
    }
  }

  &__collection-name {
    color: var(--color-black);
    display: inline-block;
    font-size: 12px;
    min-height: 0;
    padding-top: 10px;
    text-align: right;
    text-decoration: none;
    width: calc(50% - 7.5px);

    &::before {
      color: var(--color-results-label);
      content: 'Album:';
      font-size: 10px;
      padding-right: 5px;
    }

    &--left {
      display: inline-block;
      font-size: inherit;
      margin-top: -55px;
      min-height: 0;
      text-align: left;
      width: calc(50% - 7.5px);

      &::before {
        color: var(--color-results-label);
        content: 'Album:';
        display: block;
        font-size: 10px;
        padding-right: 5px;
      }
    }
  }

  &__ext-links {
    display: inline-block;
    min-height: 0;
    width: calc(100%);
  }

  &__yt-link {
    filter: grayscale(1) opacity(0.6);
    width: 80px;

    @media screen and (max-width: 480px) {
      filter: grayscale(0) opacity(0.6);
    }

    &:hover {
      filter: grayscale(0) opacity(0.6);
    }
  }

  &__artwork-img {
    border: solid 1px var(--color-results-artwork-border);
    display: block;
    float: right;
    min-height: 100px;
    width: 100px;
  }
}

.search-results {
  min-height: 500px;

  &__header {
    -moz-box-shadow: 1px 1px 5px 0 var(--color-box-shadow);
    -webkit-box-shadow: 1px 1px 5px 0 var(--color-box-shadow);
    align-content: space-between;
    animation: fadeIn ease-in-out 200ms;
    background: var(--color-results-header-bg);
    border: solid 1px var(--color-box-border);
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0 var(--color-box-shadow);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
    padding: 15px;
  }

  &__info-text {
    color: var(--color-results-info);
  }

  &__error-text {
    color: var(--color-font-default);
  }

  &-outlet {
    list-style: none;
    padding: 0;
  }

  &__youtube-link {
    display: block;
    margin-top: 10px;
  }
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.loading-animation {
  align-items: center;
  animation: fadeIn ease 200ms;
  background: var(--color-loading-animation);
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;

  &__img {
    width: 80px;

    @media screen and (min-width: 961px) {
      width: 70px;
    }
  }

  &::after {
    content: 'Ergebnisse werden geladen';
    font-weight: 100;
    margin-top: calc(120px);
    position: absolute;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
